<h3>詳細</h3>
<div class="claim">
  <p><%= @claim.title %></p>
  <p><%= @claim.created_at %></p>
</div>
<%= button_to "削除する", claim_path(@claim.id), method: :delete %>
<%= link_to "編集する", edit_claim_path(@claim.id) %>
<%= link_to "一覧に戻る", claims_path %>