<%= javascript_pack_tag 'statics/top' %>

<h3>トップ</h3>
<h1>下のボタンを押すとアラートが表示されます</h1>
    <button onclick="clickBtn();">ボタンを押してください</button>
<br>
<%= link_to "ログイン", claims_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= button_to 'ログアウトtototototototoo', destroy_user_session_path, method: :delete %>
<%= link_to "一覧に戻る", claims_path %>